.header__lang-link {
	color: white;
	text-decoration: none;
	font-size: 24px;
	line-height: 28px;
	padding-top: 22px;
}

.header__lang-link:nth-child(2n) {
	text-decoration: underline;
	padding-right: 18px;

}
