div,h1, h2, h3, h4, p ,li, ul { 
    outline-width: 1px; 
    outline-style: solid; 
    outline-color: red; 
} 

.page {
	background-color: #2A2C2F;
	font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
	color: white;
	}

@font-face {
  font-family: Inter, sans-serif;
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/Inter-Thin.woff2?v=3.15') format("woff2"),
       url("./fonts/Inter-Thin.woff?v=3.15") format("woff");
}
 
