.photo-grid {
  max-width: 92.5%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(3, 31.7%);
  gap: 16px;
  margin: 92px auto 91px;
  justify-content: center;
  overflow: hidden;
  object-fit: fill;
}


