.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33%);
  gap: 10px;
  margin: 92px auto;
  justify-content: center;
  
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 33%);
  	grid-template-rows: repeat(4, 24%);
  	max-width: 92%;
  	justify-content: center;
  }

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 16%);
    max-width: 92%;
    justify-content: center;
    gap: 12px;
  }