.intro {
	color: white;
	max-width: 77%;
	margin: 0 auto;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: repeat(3, auto);
  	grid-template-areas:
  	"title title title"
  	"text text ."
  	"list . ."
  	
}
