.cover {
	background-image: url('../../images/cover-trains.jpg');
    object-fit: cover;
    background-size: cover;
    color: #ffffff;
    width: 92.5%;
    position: relative;
    display: flex;
    margin: 92px auto;
    justify-content: center;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    transition: 0.5s;
    background-color: #2a2c2f;
}

.cover:hover::before {
    opacity: 0.8;
}
	}