.cover {
	display: flex;
	max-width: 61%;
	min-height: 65vh; 
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	background-image: url('../../images/cover-trains.jpg');
	background-size: cover;

}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: 92%
  }

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%
  }

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }



