.cover {
	display: flex;
	max-width: 61vw;
	min-height: 65vh; 
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	background-image: url('../../images/cover-trains.jpg');
	background-size: cover;

}



