.cover__overlay {
	position: absolute;
	min-width: 61%;
	min-height: 65vh; 
	background-color: rgba(16, 17, 18, 0.4);
}



.cover__overlay:hover {
  background-color: rgba(16, 17, 18, 0.8);
  transition: opacity 0.5s;
  
}

@media screen and (max-width: 1280px) {
  .cover__overlay  {
    min-width: 92%;
  }

@media screen and (max-width: 1024px) {
  .cover__overlay  {
    min-width: 100%;
  }

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
