.cover__title {
	position: relative;
	font-size: 72px;
	line-height: 76px;
	font-weight: bolder;
	max-width: 45%; 
	text-align: center;
	align-items: center;
	top: 20vh;
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .cover__title  {
    max-width: 45%;
    
  }

@media screen and (max-width: 1024px) {
  .cover__title  {
    max-width: 50%;
  }

@media screen and (max-width: 768px) {
  .cover__title  {
    max-width: 70%;
    top: 14vh;
  }