.cover__title {
  position: relative;
	font-size: 5.7vw;
	line-height: 5.9vw;
	font-style:  normal;
  font-weight: 900;
	max-width: 45%; 
	text-align: center;
  align-items: center;
	color: #fff;
	text-decoration: none;
	justify-content: center;
  margin: 20% auto 3%;
}


@media screen and (min-width: 1280px) {
  .cover__title  {
    font-size: 72px;
    line-height: 74px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title  {
    margin: 22% auto 3%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__title  {
    font-size: 8vw;
    line-height: 8.2vw;
    max-width: 60%;
    margin: 17% auto 4%;
  }
}


