.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 40px 460px;
  grid-template-rows: 152px 48px 460px;
  grid-template-areas:
  "title . website"
  ". . ."
  "image . paragraph";

}

@media screen and (max-width: 768px) {
  .place {
  	grid-template-columns: 340px 28px 340px;
  	grid-template-rows: 46px 48px 460px;
  }