.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 46% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title  website"
    "image paragraph";
  column-gap: 40px;
  row-gap: 48px;

}
 /* .place:nth-child(2) {
    grid-template-rows: 76px 48px 460px;
}
  .place:nth-child(3) {
    grid-template-rows: 76px 48px 460px;
}
  .place:nth-child(5) {
    grid-template-rows: 76px 48px 460px;
}
*/
