.footer {
  max-width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 81px auto 24px;
}

.footer > .footer__copyright {
    margin-left: auto;
}

@media screen and (min-width: 320px) and (max-width: 721px) {
  .footer  {
    flex-direction: column;
  }
  .footer > .footer__copyright {
    margin-left: 0;
}