.footer {
  max-width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 81px auto 24px;
}

@media screen and (min-width: 320px) and (max-width: 721px) {
  .footer  {
    flex-direction: column;   
  }
}