.place__paragraph-text {
	margin: 0;
	font-size: 18px;
	line-height: 163%;
	font-style: normal;
	font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__paragraph-text {
    font-size: 16px;
  }
 }

@media screen and (min-width: 320px) and (max-width: 425px) {
  .place__paragraph-text {
  	margin-right: 16px;
    margin-left: 16px;
  }
}