.intro__title {
	grid-area: title;
	font-size: 54px;
	line-height: 58px;
	margin: 99px 0 40px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
	line-height: 35px;
	max-width: 75%;
	margin: 64px 0 40px;
  }